# Dependencies
node_modules
.pnpm-store

# Production
dist
build

# Environment Variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.production

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Testing
coverage
.nyc_output

# IDEs and Editors
.idea
.vscode
*.swp
*.swo
*.tgz
.DS_Store
Thumbs.db

# Optional: Ignore debug files
email_debug.log
